<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ff.dao.StudentMapper">
    <select id="findStudentByCard" parameterType="_int" resultType="StudentAndCard">
        -- 查询sql
        SELECT student.*, card.number AS card_number
        FROM student, card
        where student.card_id = card.id
          AND card.number = 1111
    </select>
    <select id="findStudentWithCard" parameterType="_int" resultMap="studentInfoMap">
        -- 查询sql
        SELECT student.*, card.number AS card_number
        FROM student, card
        where student.card_id = card.id
          AND card.number = 1111
    </select>

    <resultMap id="studentInfoMap" type="StudentWithCard">
        <!--关键字：id-主键 result-结果集其他字段 column-结果集字段名 property-实体类属性名-->
        <id column="id" property="id"/>
        <result column="number" property="number"/>
        <!--关键字： association-表示关联的类，property-实体类属性名 javaType-实体类-->
        <association property="student" javaType="Student">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="card_id" property="card_id"/>
        </association>
    </resultMap>

</mapper>
